<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40" *ngIf="dish">
        <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
                  </mat-card-title>
                </mat-card-header>
                <img mat-card-image src={{dish.image}} alt={{dish.name}}>
                <mat-card-content>
                  <p>{{dish.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                  <button mat-button (click)="goBack()">BACK</button>

                  

                
                <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
                 </mat-card-actions>
              </mat-card>
 
</div>

<div fxFlex="40" *ngIf="dish">
 
<mat-list>
        <h3>Comments</h3>
          <mat-list-item *ngFor="let comment of dish.comments">
            
            
            <h4 matLine >{{comment.comment}} </h4>
            <p matLine>{{comment.rating}} Stars </p>
            <p matLine> <span>-- {{comment.author}} {{comment.date | date}} </span></p>
            
        </mat-list-item>
      </mat-list>

      <div class="form-size" *ngIf="dish">
<form>

    <mat-form-field class="half-width">
        <input matInput formControlName="first name" placeholder="Name" type="text" required>
        <mat-error *ngIf= "formErrors.name">{{formErrors.name}}</mat-error>
l
      </mat-form-field>
      <p>    <mat-slider tickInterval="1"  thumbLabel min="1" max="5" step="1" value="1">invert</mat-slider> </p>
            
      <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="message" placeholder="your Feedbacks" rows=6  required> </textarea>
                                
          </mat-form-field>
        </p>
         
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid"> Submit</button>

</form>

        </div>

</div>



</div>